* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    color: #333;
    /* Background vector created by starline - www.freepik.com */
    background: url('/images/low-poly-large.png') no-repeat fixed top center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
    display: flex;
    flex-direction: column;
    margin: 30px calc(50% - 400px);
}

h3 {
    color: #125e87;
    margin: 0px;
}

h4 {
    margin: 0px 0px 5px;
}

button {
    color: white;
    text-transform: uppercase;
    background-color: #125e87;
    min-height: 35px;
    width: 120px;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    margin-right: 20px;
}

button:hover {
    background-color: #1d7bae;
    cursor: pointer;
}

a {
    color: #125e87;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #124b87;
}

a:hover, a:visited:hover {
    color: #1d7bae;
}

img {
    width: 100%;
    border: none;
    border: 1px #dedede solid;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column; /* default */
}

/* IDs */

#filter-form {
    flex-direction: column;
    margin-bottom: 20px;
}

#submit {
    background-color: #67a009;
}

#main-entry {
    flex-direction: column;
    justify-content: center;
}

#results-area {
    flex-direction: column;
}

#entry-area {
    flex-direction: row;
    margin-top: 40px;
}

/* CLASSES */

.fields {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.input-field {
    display: block;
    margin-right: 20px;
}

.label {
    /* margin-bottom: 20px; */
}

.input {
    width: 100%;
    min-height: 35px;
    border: 1px #333 solid;
    border-radius: 6px;
    padding: 5px 12px;
    margin: 5px 0px;
}

.entry {
    flex-direction: column;
    background-color: white;
    width: 98%; /* accommodate drop shadow */
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 12px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .2s ease-in-out;
}

.entry:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .6));
}

.new {
    color: #67a009;
}

.columns {
    flex-direction: row;
}

.left-col {
    flex-direction: column;
    width: calc(100% - 180px);
    padding-right: 20px;
}

.right-col {
    flex-direction: column;
    width: 180px;
    padding-left: 10px;
}

.note {
    font-style: italic;
    font-size: 0.9rem;
}

.link-list {
    flex-direction: column;
}

.link {
    margin: 5px 0px;
}

.tech-subheader {
    margin: 20px 0px 5px;
}

.tech {
    margin: 5px 0px;
}

.info-subheader {
    margin: 20px 0px 5px;
}

.info {
    margin: 0px;
}

.small-info {
    flex-direction: row;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 15px 0px 0px;
}

@media screen and (max-width: 1000px) {
    main {
        margin: 30px 100px;
    }
}